
@{
    ViewBag.Title = "Details1";
}

<h2>Details1</h2>

<p>Link to details2 -> @Html.ActionLink("Here", "Details2", "CourseInfo")</p>

<p>Link to details2 which is styled -> @Html.ActionLink("Here", "Details2", "CourseInfo", null, new { @style = "color:green; font-weight:bold;" })</p>